/* Cache la barre de navigation sauf au survol */
#page-root .absolute.bottom-0.left-0 {
  opacity: 0 !important;
  transition: opacity 0.3s;
}
#page-root .absolute.bottom-0.left-0:hover {
  opacity: 1 !important;
}
